<div>
    <h3 style="text-align: center;">
        {{ title }}
    </h3>
</div>

<div class="browse">
    <div class="browse__cars">
        <div class="browse__cars__header">
            <h4>Cars</h4>
        </div>
        <div class="browse__cars__list">
            <ul>
                <li *ngFor="let car of cars">
                    <p>{{car.carType}}</p>
                    <small>{{car.plateNumber}}</small>
                </li>
            </ul>
        </div>
    </div>
    <div class="browse__reservations">
        <div class="browse__reservations__header">
            <h4>January 2018</h4>
            <a href="#" (click)="scrollReservations($event, 'left')" class="browse__reservations__header__navigation browse__reservations__header__navigation--left">&#x21fd;</a>
            <div class="browse__reservations__header__day-navigator">
                <ul>
                    <li *ngFor="let day of days">{{day}}</li>
                </ul>
            </div>
            <a href="#" (click)="scrollReservations($event, 'right')" class="browse__reservations__header__navigation browse__reservations__header__navigation--right">&#x21fe;</a>
        </div>
        <div class="browse__reservations__content">
            <div>
                <div class="browse__reservations__content__item" *ngFor="let car of cars" attr.data-carid="{{car.id}}">
                    <ul>
                        <li *ngFor="let day of days"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

